.container {
  text-align: center;
}

body {
  background: #f0f2f5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url(/images/loginbg.svg);
}

#root {
  height: 100%;
}

#root > .ant-layout {
  min-height: 100%;
}

.login-page {
  font-size: 1rem;
  width: 100%;
  min-height: 100%;
  position: relative;
}

button.ant-btn.room {
  width: 90%;
  height: 140px;
}

button.ant-btn.room p {
  margin: 0;
}

button.ant-btn.room h1 {
  margin: 0;
  font-size: 2rem;
}

.toolbar {
  margin-bottom: 10px;
}

.top {
  text-align: center;
}

.top .header .logo {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  margin-top: 50px;
}

.top .header .title {
  display: block;
  font-size: 1.8rem;
  color: #152956;
  line-height: 2rem;
  margin: 20px;
}

.login .ant-tabs-bar {
  text-align: left;
  margin: 25px 0;
}
.anticon.nav-phone-icon {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 1;
  display: none;
  width: 60px;
  height: 64px;
  cursor: pointer;
  color: #fff;
  margin-left: 15px;
  padding: 24px 10px;
}

@media only screen and (max-width: 767.99px) {
  .anticon.nav-phone-icon {
    display: block;
  }
}
.warningText {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
